Source: ros-jazzy-vrpn-mocap
Section: misc
Priority: optional
Maintainer: Alvin Sun <alvinsunyixiao@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-eigen3-cmake-module, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-vrpn, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-vrpn-mocap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-vrpn, ros-jazzy-ros-workspace
Description: ROS2 VRPN client built primarily to interface with motion capture devices such as VICON and OptiTrack.
 A detailed list of supported hardware can be found here.
